language: python
python:
- 2.7
- 3.6
services:
- redis-server
stages:
- lint
- test

env:
  BROKER_URL: redis://localhost:6379/0

script:
- coverage run --include='pacifica/*' -p -m celery -A 'pacifica.dispatcher.proxymod.__main__:celery_app' worker -c 1 -P solo -l info &
- coverage run --include='pacifica/*' -m pytest -v
- celery -A 'pacifica.dispatcher.proxymod.__main__:celery_app' control shutdown || true
- coverage combine -a .coverage*
- coverage report -m --fail-under 100
- if [[ $CODECLIMATE_REPO_TOKEN ]] ; then codeclimate-test-reporter; fi

jobs:
  include:
  - stage: lint
    python: 3.6
    script: pre-commit run -a
  - python: 2.7
    script: pre-commit run -a

install:
- pip install -r requirements-dev.txt
- pip install 'celery[redis]'
